In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/train_data.zip")

df.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,avg_wind_9_10,avg_wind_10_11,avg_wind_11_12,avg_wind_12_above,perfect_days,unacast_session_count,hpi,state_and_local_amount_per_capita,state_amount_per_capita,local_amount_per_capita
0,1900203,3,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,78.0,323.61,0.132207,0.018519,0.113688
1,1900203,6,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,111.0,323.61,0.132207,0.018519,0.113688
2,1900203,8,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,110.0,323.61,0.132207,0.018519,0.113688
3,MR00101775,1,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,110.38,0.076247,0.011966,0.064281
4,MR00101775,8,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,110.38,0.076247,0.011966,0.064281

In [3]:
df.shape

(52626, 861)

In [4]:
#checking the time span of data

(df['month'].astype(str)+"-"+df['year'].astype(str)).unique()

array(['3-2019', '6-2018', '8-2018', '1-2019', '8-2019', '5-2018',
       '11-2018', '5-2019', '4-2018', '7-2018', '9-2019', '7-2019',
       '9-2018', '2-2019', '10-2018', '6-2019', '2-2018', '3-2018',
       '4-2019', '12-2018', '1-2018'], dtype=object)

In [5]:
df.describe()

,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,monthly_count_slide_single,...,avg_wind_9_10,avg_wind_10_11,avg_wind_11_12,avg_wind_12_above,perfect_days,unacast_session_count,hpi,state_and_local_amount_per_capita,state_amount_per_capita,local_amount_per_capita
count,52626.000000,52626.000000,52626.000000,52626.000000,52626.000000,5.262600e+04,5.262600e+04,5.262600e+04,5.262600e+04,52626.000000,...,52625.000000,52625.000000,52625.000000,52625.000000,48488.000000,49967.000000,52626.000000,52626.000000,52626.000000,52626.000000
mean,5.857143,2018.428571,3.300536,0.423878,2.876658,7.973544e+04,2.310989e+04,1.588123e+04,3.119375e+03,0.615133,...,0.009216,0.003420,0.001368,0.001159,1.775223,135.281086,363.333280,0.142607,0.017662,0.124945
std,3.196542,0.494876,17.406950,1.907174,15.755926,2.885052e+05,1.068163e+05,7.419752e+04,2.899730e+04,2.858669,...,0.114052,0.068286,0.039451,0.035126,2.974338,534.126771,268.135357,0.053920,0.012470,0.052613
min,1.000000,2018.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,62.050000,0.070614,0.000000,0.037019
25%,3.000000,2018.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,205.510000,0.094705,0.008126,0.086578
50%,6.000000,2018.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,57.000000,272.325000,0.132207,0.012953,0.113688
75%,8.000000,2019.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,3.000000,123.000000,417.420000,0.164303,0.024017,0.151351
max,12.000000,2019.000000,1788.000000,95.000000,1693.000000,5.390389e+06,4.643550e+06,3.124310e+06,1.598000e+06,150.000000,...,4.000000,4.000000,3.000000,2.000000,27.000000,44860.000000,2299.780000,0.485204,0.063809,0.443315

In [6]:
biba_games = df.iloc[:, 0:132]
biba_games['target'] = df['unacast_session_count']

In [7]:
biba_games.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,neutral_events_2000_meters,total_mentions_2000_meters,avg_impact_of_events_2000_meters,verbal_cooperation_events_2000_meters,material_cooperation_events_2000_meters,verbal_conflict_events_2000_meters,material_conflict_events_2000_meters,date,distance_to_nearest_bus_stop,target
0,1900203,3,2019,0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.94,78.0
1,1900203,6,2018,0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.94,111.0
2,1900203,8,2018,0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.94,110.0
3,MR00101775,1,2019,0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48486.39,10.0
4,MR00101775,8,2019,0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48486.39,11.0

In [8]:
# getting fill rates of numerical columns less than 50 %
biba_games_count = biba_games.describe().loc['count', :]
biba_games_count[biba_games_count < 0.5*df.shape[0]]

total_events_across_state                   1358.0
positive_events_across_state                1358.0
negative_events_across_state                1358.0
neutral_events_across_state                 1358.0
total_mentions_across_state                 1358.0
avg_impact_of_events_across_state           1358.0
verbal_cooperation_events_across_state      1358.0
material_cooperation_events_across_state    1358.0
verbal_conflict_events_across_state         1358.0
material_conflict_events_across_state       1358.0
MonthYear                                   1358.0
total_events_500_meters                     1358.0
positive_events_500_meters                  1358.0
negative_events_500_meters                  1358.0
neutral_events_500_meters                   1358.0
total_mentions_500_meters                   1358.0
avg_impact_of_events_500_meters             1358.0
verbal_cooperation_events_500_meters        1358.0
material_cooperation_events_500_meters      1358.0
verbal_conflict_events_500_meters           1358.0
material_conflict_events_500_meters         1358.0
total_events_2000_meters                    1358.0
positive_events_2000_meters                 1358.0
negative_events_2000_meters                 1358.0
neutral_events_2000_meters                  1358.0
total_mentions_2000_meters                  1358.0
avg_impact_of_events_2000_meters            1358.0
verbal_cooperation_events_2000_meters       1358.0
material_cooperation_events_2000_meters     1358.0
verbal_conflict_events_2000_meters          1358.0
material_conflict_events_2000_meters        1358.0
Name: count, dtype: float64

In [9]:
print("Number of columns with low fill rate : ", len(biba_games_count[biba_games_count < 0.5*df.shape[0]]))
print("Low fill rate : ", min(biba_games_count[biba_games_count < 0.5*df.shape[0]]) / df.shape[0] * 100, " %")

Number of columns with low fill rate :  31
Low fill rate :  2.5804735301942006  %

## Possible solution for low fill rate in numerical columns
- Delete the columns

In [10]:
#dropping numerical columns with low fill rate
biba_games = biba_games.drop(columns = list(biba_games_count[biba_games_count < 0.5*df.shape[0]].index))
biba_games.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,monthly_hour_21,monthly_hour_22,monthly_hour_23,monthly_weekday_counts,monthly_survey,monthly_count_of_holidays,name,date,distance_to_nearest_bus_stop,target
0,1900203,3,2019,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,NaN,NaN,0,NaN,NaN,338.94,78.0
1,1900203,6,2018,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,NaN,NaN,0,NaN,NaN,338.94,111.0
2,1900203,8,2018,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,NaN,NaN,0,NaN,NaN,338.94,110.0
3,MR00101775,1,2019,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,NaN,NaN,0,NaN,NaN,48486.39,10.0
4,MR00101775,8,2019,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,NaN,NaN,0,NaN,NaN,48486.39,11.0

In [11]:
# Checking categorical features
categorical_features = biba_games.loc[:, biba_games.dtypes == "object"]
numerical_features = biba_games.loc[:, biba_games.dtypes != "object"]

In [12]:
#Excluding external_id from categorical features
categorical_features = categorical_features.iloc[:, 1:]
categorical_features

      monthly_weekday_counts monthly_survey name date
0                        NaN            NaN  NaN  NaN
1                        NaN            NaN  NaN  NaN
2                        NaN            NaN  NaN  NaN
3                        NaN            NaN  NaN  NaN
4                        NaN            NaN  NaN  NaN
...                      ...            ...  ...  ...
52621                    NaN            NaN  NaN  NaN
52622                    NaN            NaN  NaN  NaN
52623                    NaN            NaN  NaN  NaN
52624                    NaN            NaN  NaN  NaN
52625                    NaN            NaN  NaN  NaN

[52626 rows x 4 columns]

In [13]:
categorical_features.count()

monthly_weekday_counts    4912
monthly_survey            4912
name                      1358
date                      1358
dtype: int64

## Possible solution for low fill rate in categorical columns
- Delete the columns

In [14]:
biba_games = biba_games.drop(columns = list(categorical_features.columns))
biba_games.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,monthly_hour_17,monthly_hour_18,monthly_hour_19,monthly_hour_20,monthly_hour_21,monthly_hour_22,monthly_hour_23,monthly_count_of_holidays,distance_to_nearest_bus_stop,target
0,1900203,3,2019,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,338.94,78.0
1,1900203,6,2018,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,338.94,111.0
2,1900203,8,2018,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,338.94,110.0
3,MR00101775,1,2019,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,48486.39,10.0
4,MR00101775,8,2019,0,0,0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,48486.39,11.0

In [15]:
#Dropping month and year from numerical features as they are part of primary key
numerical_features = numerical_features.iloc[:, 2:]
numerical_features

,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,monthly_count_slide_single,monthly_count_climber_rope,monthly_count_slide_covered,...,monthly_hour_17,monthly_hour_18,monthly_hour_19,monthly_hour_20,monthly_hour_21,monthly_hour_22,monthly_hour_23,monthly_count_of_holidays,distance_to_nearest_bus_stop,target
0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,338.94,78.0
1,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,338.94,111.0
2,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,338.94,110.0
3,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,48486.39,10.0
4,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,48486.39,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52621,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,28159.73,30.0
52622,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,12949.58,24.0
52623,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,946.53,45.0
52624,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,75131.09,14.0
52625,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,75131.09,102.0

In [16]:
num_cor_matrix = numerical_features.corr()
num_cor_matrix

,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,monthly_count_slide_single,monthly_count_climber_rope,monthly_count_slide_covered,...,monthly_hour_17,monthly_hour_18,monthly_hour_19,monthly_hour_20,monthly_hour_21,monthly_hour_22,monthly_hour_23,monthly_count_of_holidays,distance_to_nearest_bus_stop,target
monthly_number_of_sessions,1.000000,0.879418,0.998338,0.541328,0.412206,0.394551,0.205948,0.910716,0.709987,0.542119,...,0.612640,0.537074,0.663027,0.711758,0.620550,0.589144,0.642037,0.368178,-0.034853,0.000846
monthly_unique_sessions,0.879418,1.000000,0.850526,0.558240,0.410126,0.416653,0.203903,0.936178,0.457516,0.396864,...,0.557894,0.501942,0.606393,0.570525,0.559887,0.551078,0.587986,0.435913,-0.039286,-0.002383
monthly_repeated_sessions,0.998338,0.850526,1.000000,0.530480,0.405757,0.385462,0.202847,0.892828,0.729004,0.550888,...,0.609307,0.532595,0.659103,0.717282,0.617804,0.584174,0.638141,0.353994,-0.033749,0.001222
monthly_avg_length_of_session,0.541328,0.558240,0.530480,1.000000,0.859302,0.832012,0.422602,0.583740,0.256895,0.268375,...,0.332439,0.362487,0.349813,0.329492,0.373609,0.382409,0.348343,0.605375,-0.033594,0.002474
monthly_avg_light_activity,0.412206,0.410126,0.405757,0.859302,1.000000,0.806308,0.294043,0.435184,0.198969,0.210255,...,0.255542,0.280782,0.263554,0.257004,0.272893,0.288158,0.264314,0.473802,-0.027332,0.004847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
monthly_hour_22,0.589144,0.551078,0.584174,0.382409,0.288158,0.282354,0.136439,0.558346,0.382632,0.350759,...,0.298495,0.305462,0.306900,0.339531,0.357316,1.000000,0.355090,0.285409,-0.026682,0.000373
monthly_hour_23,0.642037,0.587986,0.638141,0.348343,0.264314,0.257965,0.149963,0.591217,0.458301,0.310743,...,0.374721,0.260538,0.376743,0.423156,0.347201,0.355090,1.000000,0.250776,-0.022150,-0.004080
monthly_count_of_holidays,0.368178,0.435913,0.353994,0.605375,0.473802,0.494390,0.253428,0.429481,0.131085,0.141995,...,0.215506,0.226168,0.252684,0.241571,0.257293,0.285409,0.250776,1.000000,-0.028286,-0.000567
distance_to_nearest_bus_stop,-0.034853,-0.039286,-0.033749,-0.033594,-0.027332,-0.026260,-0.019429,-0.039677,-0.015592,-0.012129,...,-0.017726,-0.018930,-0.022441,-0.021827,-0.017628,-0.026682,-0.022150,-0.028286,1.000000,-0.059547
target,0.000846,-0.002383,0.001222,0.002474,0.004847,-0.003287,0.003579,-0.003541,0.007353,0.002364,...,-0.005196,0.002811,-0.002742,0.005279,-0.003214,0.000373,-0.004080,-0.000567,-0.059547,1.000000

In [17]:
# Checking variables with high correlation with target

target_cor = num_cor_matrix.loc['target', :]

target_cor[target_cor > 0.1] # This is impressive

target    1.0
Name: target, dtype: float64

In [21]:
#selecting features with high number of correlated features
high_cor_dict = {}

for i in list(num_cor_matrix.columns):
    
    row = num_cor_matrix.loc[i, :]
    high_cor_dict[i] = len(row[((row>=0.8) | (row<=-0.8)) & (row!=1)])

In [22]:
high_cor_dict

{'monthly_number_of_sessions': 9,
 'monthly_unique_sessions': 7,
 'monthly_repeated_sessions': 9,
 'monthly_avg_length_of_session': 3,
 'monthly_avg_light_activity': 2,
 'monthly_avg_moderate_activity': 2,
 'monthly_avg_vigorous_activity': 0,
 'monthly_count_slide_single': 9,
 'monthly_count_climber_rope': 1,
 'monthly_count_slide_covered': 0,
 'monthly_count_slide': 0,
 'monthly_count_tube': 1,
 'monthly_count_tube_straight': 4,
 'monthly_count_climber_step': 9,
 'monthly_count_overhang_bars': 4,
 'monthly_count_climber_rock': 1,
 'monthly_count_slide_spiral': 4,
 'monthly_count_slide_roller': 0,
 'monthly_count_ramp': 1,
 'monthly_count_zipline': 0,
 'monthly_count_spinner': 0,
 'monthly_count_bridge_plank': 6,
 'monthly_count_swing_seated': 6,
 'monthly_count_bridge_rope': 0,
 'monthly_count_bridge_bars': 0,
 'monthly_count_slide_multi': 1,
 'monthly_count_swing_tire': 0,
 'monthly_count_climber_moulded': 1,
 'monthly_count_overhang_rings': 0,
 'monthly_count_tube_curved': 0,
 'monthly_count_climber_playcube': 0,
 'monthly_count_bridge': 0,
 'monthly_count_pull_under': 1,
 'monthly_count_overhang': 0,
 'monthly_count_climber': 1,
 'monthly_under_40': 0,
 'monthly_temp_40_to_50': 0,
 'monthly_temp_50_to_60': 0,
 'monthly_temp_60_to_70': 0,
 'monthly_temp_70_to_80': 0,
 'monthly_temp_80_to_90': 0,
 'monthly_over_90': 0,
 'monthly_avg_length_under_40': 0,
 'monthly_avg_length_temp_40_to_50': 0,
 'monthly_avg_length_temp_50_to_60': 0,
 'monthly_avg_length_temp_60_to_70': 0,
 'monthly_avg_length_temp_70_to_80': 0,
 'monthly_avg_length_temp_80_to_90': 0,
 'monthly_avg_length_over_90': 0,
 'monthly_cloudy': 0,
 'monthly_clear': 7,
 'monthly_foggy': 0,
 'monthly_rain': 0,
 'monthly_snow': 0,
 'monthly_avg_cloudy_length': 0,
 'monthly_avg_clear_length': 1,
 'monthly_avg_foggy_length': 0,
 'monthly_avg_rain_length': 0,
 'monthly_avg_snow_length': 0,
 'monthly_ws_below_2': 0,
 'monthly_ws_2_to_4': 0,
 'monthly_ws_4_to_6': 0,
 'monthly_ws_6_to_8': 0,
 'monthly_ws_8_to_10': 0,
 'monthly_ws_10_to_12': 0,
 'monthly_ws_12_to_14': 0,
 'monthly_ws_14_to_16': 0,
 'monthly_ws_above_16': 0,
 'monthly_hour_0': 0,
 'monthly_hour_1': 0,
 'monthly_hour_2': 0,
 'monthly_hour_3': 0,
 'monthly_hour_4': 0,
 'monthly_hour_5': 0,
 'monthly_hour_6': 0,
 'monthly_hour_7': 0,
 'monthly_hour_8': 0,
 'monthly_hour_9': 0,
 'monthly_hour_10': 0,
 'monthly_hour_11': 0,
 'monthly_hour_12': 0,
 'monthly_hour_13': 0,
 'monthly_hour_14': 0,
 'monthly_hour_15': 0,
 'monthly_hour_16': 0,
 'monthly_hour_17': 0,
 'monthly_hour_18': 0,
 'monthly_hour_19': 0,
 'monthly_hour_20': 0,
 'monthly_hour_21': 0,
 'monthly_hour_22': 0,
 'monthly_hour_23': 0,
 'monthly_count_of_holidays': 0,
 'distance_to_nearest_bus_stop': 0,
 'target': 0}

In [37]:
# Selecting columns with more than 5 high correlated features

high_cor_list = [key for key, val in high_cor_dict.items() if val >= 5]
high_cor_list

['monthly_number_of_sessions',
 'monthly_unique_sessions',
 'monthly_repeated_sessions',
 'monthly_count_slide_single',
 'monthly_count_climber_step',
 'monthly_count_bridge_plank',
 'monthly_count_swing_seated',
 'monthly_clear']

In [36]:
num_cor_matrix.loc[high_cor_list, high_cor_list]

,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_count_slide_single,monthly_count_climber_step,monthly_count_bridge_plank,monthly_count_swing_seated,monthly_clear
monthly_number_of_sessions,1.000000,0.879418,0.998338,0.910716,0.910295,0.870549,0.878879,0.933147
monthly_unique_sessions,0.879418,1.000000,0.850526,0.936178,0.937035,0.853063,0.849578,0.807096
monthly_repeated_sessions,0.998338,0.850526,1.000000,0.892828,0.892260,0.858513,0.868138,0.933234
monthly_count_slide_single,0.910716,0.936178,0.892828,1.000000,0.972547,0.886264,0.857010,0.843146
monthly_count_climber_step,0.910295,0.937035,0.892260,0.972547,1.000000,0.883973,0.861748,0.845839
monthly_count_bridge_plank,0.870549,0.853063,0.858513,0.886264,0.883973,1.000000,0.797579,0.812053
monthly_count_swing_seated,0.878879,0.849578,0.868138,0.857010,0.861748,0.797579,1.000000,0.825430
monthly_clear,0.933147,0.807096,0.933234,0.843146,0.845839,0.812053,0.825430,1.000000

## Correlation Observations
- These 8 columns have quite high correlation among each other. 
- Keeping all will affect the model
- This is evident from the Data description : `monthly_repeated_sessions` = `number of repeated sessions monthly (repeat session = (number of sessions) - (number of unique users) )`
- Also Use of one equipment might be related with other equipments as per `game design`.
- `monthly_clear` can be excluded as it is not related directly to other features 

## Possible solution
- Linear regression to combine these into 1 or less features

In [60]:
# Checking for outliers

quant_check = numerical_features.quantile([0.9, 0.95, 0.975, 0.99, 1])

In [53]:
per_90 =  quant_check.loc[0.90, :]
per_90[per_90 == 0]

monthly_number_of_sessions       0.0
monthly_unique_sessions          0.0
monthly_repeated_sessions        0.0
monthly_avg_length_of_session    0.0
monthly_avg_light_activity       0.0
                                ...
monthly_hour_20                  0.0
monthly_hour_21                  0.0
monthly_hour_22                  0.0
monthly_hour_23                  0.0
monthly_count_of_holidays        0.0
Name: 0.9, Length: 93, dtype: float64

In [61]:
#comparing quantiles
per_90 = quant_check.loc[0.90, :]
per_95 = quant_check.loc[0.95, :]
per_975 = quant_check.loc[0.975, :]
per_99 = quant_check.loc[0.99, :]
per_100 = quant_check.loc[1, :]

numerical_features.loc[:, per_100 > per_99+per_90]

,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,monthly_count_slide_single,monthly_count_climber_rope,monthly_count_slide_covered,...,monthly_hour_17,monthly_hour_18,monthly_hour_19,monthly_hour_20,monthly_hour_21,monthly_hour_22,monthly_hour_23,monthly_count_of_holidays,distance_to_nearest_bus_stop,target
0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,338.94,78.0
1,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,338.94,111.0
2,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,338.94,110.0
3,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,48486.39,10.0
4,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,48486.39,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52621,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,28159.73,30.0
52622,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,12949.58,24.0
52623,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,946.53,45.0
52624,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,75131.09,14.0
52625,0,0,0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,75131.09,102.0

In [62]:
numerical_features.loc[:, per_99 > per_975+per_95]

,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,monthly_count_slide_single,monthly_count_climber_rope,monthly_count_slide_covered,monthly_count_tube_straight,...,monthly_hour_15,monthly_hour_16,monthly_hour_17,monthly_hour_18,monthly_hour_19,monthly_hour_20,monthly_hour_21,monthly_hour_22,monthly_hour_23,target
0,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78.0
1,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,111.0
2,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,110.0
3,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10.0
4,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52621,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30.0
52622,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24.0
52623,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45.0
52624,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14.0
52625,0,0,0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,102.0

## Outlier detection result
- 93 out of 95 columns have 90 percent 0 values
- 93 columns have outliers
- 56 columns have 99 percentile value higher than sum of 95 and 97.5 percentile. This shows steep increase in these columns after 97.5 percentile.
- All columns have positive values

## Solution
- Scaling is necessary for all features

In [54]:
std_dev_all = numerical_features.std(axis = 0)
std_dev_all

monthly_number_of_sessions           17.406950
monthly_unique_sessions               1.907174
monthly_repeated_sessions            15.755926
monthly_avg_length_of_session    288505.179725
monthly_avg_light_activity       106816.304825
                                     ...
monthly_hour_22                       2.405317
monthly_hour_23                       2.302938
monthly_count_of_holidays             0.265602
distance_to_nearest_bus_stop      29275.907692
target                              534.126771
Length: 95, dtype: float64