# Notebook to drop given columns

In [8]:
#Download libraries

import pandas as pd

In [9]:
#Download the data
full_data = pd.read_csv('../data/train_data.zip')
full_data.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,avg_wind_9_10,avg_wind_10_11,avg_wind_11_12,avg_wind_12_above,perfect_days,unacast_session_count,hpi,state_and_local_amount_per_capita,state_amount_per_capita,local_amount_per_capita
0,1807558,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,37.0,418.67,0.116368,0.025516,0.090852
1,1806729,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,63.0,710.00,0.175774,0.020170,0.155604
2,MR00096403,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,15.0,241.24,0.112038,0.006893,0.105145
3,1806350,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,45.0,468.51,0.120088,0.003619,0.116469
4,FM00169477,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,83.0,326.05,0.132935,0.025298,0.107637

In [21]:
data = full_data.copy()

51

In [22]:
data = data.drop(columns = ['external_id', 'monthly_count_of_holidays', 'B13016e2', 'B19113e1', 'name', 
                            'MonthYear', 'date', 'streets_per_node_counts_0', 'streets_per_node_counts_0_osid', 
                            'streets_per_node_counts_0_osdw', 'self_loop_proportion', 'self_loop_proportion_osid', 
                            'self_loop_proportion_osdw', 'circuity_avg', 'circuity_avg_osid', 'circuity_avg_osdw', 
                            'clean_intersection_density_km', 'node_density_km', 'clean_intersection_count_osid', 
                            'node_density_km_osdw', 'intersection_density_km_osdw', 'street_density_km_osid', 
                            'edge_density_km_osid', 'intersection_density_km_osid', 'node_density_km_osid', 
                            'edge_density_km_osdw', 'street_density_km_osdw', 'clean_intersection_count', 
                            'clean_intersection_count_osdw', 'clean_intersection_density_km_osdw', 'street_density_km', 
                            'edge_density_km', 'intersection_density_km', 'clean_intersection_density_km_osid', 
                            'streets_per_node_counts_8', 'streets_per_node_proportion_8', 'streets_per_node_proportion_7_osid', 
                            'streets_per_node_counts_7_osid', 'streets_per_node_proportion_8_osdw', 
                            'streets_per_node_counts_8_osdw', 'streets_per_node_proportion_7', 'streets_per_node_counts_7', 
                            'streets_per_node_counts_7_osdw', 'streets_per_node_proportion_7_osdw', 
                            'streets_per_node_proportion_6_osid', 'streets_per_node_counts_6_osid', 
                            'streets_per_node_proportion_6', 'streets_per_node_counts_6', 'streets_per_node_counts_6_osdw', 
                            'streets_per_node_proportion_6_osdw', 'transit_score', 'closest_place_category', 
                            'closest_place_distance'])
temp_list = [i for i in data.columns if re.match('temp_min_*', i)]
street_list = [i for i in data.columns if re.match('streets_per_node_proportion_*', i)]
data = data.drop(columns=temp_list)
data = data.drop(columns=street_list)
cols_to_drop = list(data.loc[:, 'avg_impact_of_events_2000_meters':'material_conflict_events_2000_meters'].columns) +\
                   list(data.loc[:, 'B01001e27': 'B01001e6'].columns)
    
data = data.drop(columns = cols_to_drop)

In [23]:
data.shape

(50120, 777)

In [25]:
full_data.shape

(50120, 861)

We have now 777 columns.