In [1]:
from collections import defaultdict
import re
import time
import pandas as pd
import altair as alt
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error

In [2]:
#pd.set_option('display.max_columns', 50)
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

Load the data:

In [3]:
df = pd.read_csv('../data/train_data.zip')

In [4]:
df.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,avg_wind_9_10,avg_wind_10_11,avg_wind_11_12,avg_wind_12_above,perfect_days,unacast_session_count,hpi,state_and_local_amount_per_capita,state_amount_per_capita,local_amount_per_capita
0,1900203,3,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,78.0,323.61,0.132207,0.018519,0.113688
1,1900203,6,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,111.0,323.61,0.132207,0.018519,0.113688
2,1900203,8,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,110.0,323.61,0.132207,0.018519,0.113688
3,MR00101775,1,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,110.38,0.076247,0.011966,0.064281
4,MR00101775,8,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,110.38,0.076247,0.011966,0.064281

Apply basic preprocessing:

In [5]:
def dict_to_columns_df(col, key, val):
    """
    This functions takes a dataframe column which is in the
    form of list of dictionaries and creates a dataframe
    from the keys of the in the inner list of dictionaries 
    e.g. "[{'key': A, 'val': 1}, {'key': B, 'val': 2}]"
    
    Parameters
    ----------------
    col : DataFrame Series, the columns whose values are the in the format
    of a list of dictionaries.
    
    key : the keys in the inner dictionary from which column names are to be extracted
    
    val : the keys in the inner dictionary from which values in the column needs to
    be extracted
    
    
    Returns
    ----------------
    DataFrame
        With the new columns created from the keys of the inner dictionary
        
    """
    key_list = set()
    i=0
    # getting all the new column names
    while i < len(col):
        if type(col[i]) != float:
            dic_list = eval(col[i]) #converting col value from string to list
            for dic in range(len(dic_list)):
                if re.match('[a-zA-Z]', dic_list[dic][str(key)][0]): #removing spanish names
                    key_list.add("monthly_"+dic_list[dic][str(key)])
        i+=1
    
    all_cols_dict = defaultdict(list)
    
    i = 0
    while i < len(col):
        if type(col[i]) != float:
            dic_list = eval(col[i]) #converting col value from string to list

            for col_names in list(key_list):
                flag = 0 #to check if a column name exists in the dictionary
                for dic in range(len(dic_list)):
                    if dic_list[dic][str(key)] == col_names[8:]: #getting values from the inner dictionary matching the key
                        all_cols_dict[col_names].append(dic_list[dic][str(val)]) #putting inner dict values to new default dict
                        flag = 1
                        break
                
                if flag==0:
                    all_cols_dict[col_names].append(None)

        else:
            for col_names in list(key_list):
                all_cols_dict[col_names].append(None)

        i+=1
    new_cols_df = pd.DataFrame(all_cols_dict)
    
    # checking new df has same number of columns as given column
    if new_cols_df.shape[0] == col.shape[0]:
        return new_cols_df
    else:
        print("Column dimensions don't match")

In [6]:
def preprocess_biba(full_data):  
    
    """
    Performs the pre-processing of the columns for the biba data
    
    Paramters
    ---------------
    
    full_data : DataFrame, with no operations done on the biba columns
    
    Returns
    ---------------
    DataFrame
        with processed biba columns
    
    """
    biba_games_df = pd.DataFrame()
    biba_games_df = pd.concat([full_data.loc[:, 'monthly_number_of_sessions':'distance_to_nearest_bus_stop'],
                               full_data.loc[:, 'historic_number_of_sessions':'historic_snow']], axis = 1)
    
    #extracting categorical features
    categorical_features = biba_games_df.loc[:, biba_games_df.dtypes == "object"]
     
    # creating cols from list of dictionaries
    monthly_survey_df = dict_to_columns_df(categorical_features['monthly_survey'], 'question', 'avg_answer')
    monthly_weekday_counts_df = dict_to_columns_df(categorical_features['monthly_weekday_counts'], 'weekday', 'count')
    
    biba_games_df = pd.concat([biba_games_df, monthly_survey_df, monthly_weekday_counts_df], axis = 1)
    
    #dropping categorical features
    biba_games_df = biba_games_df.drop(columns = list(categorical_features.columns))
    
    #dropping historic hours with low fill rate
    numerical_cols_to_remove = ['historic_hour_0', 'historic_hour_23', 'historic_hour_22', 'historic_hour_21',
                                'historic_hour_7','historic_hour_6','historic_hour_5','historic_hour_4', 
                                'historic_hour_3','historic_hour_2','historic_hour_1', 'MonthYear']
    
    biba_games_df = biba_games_df.drop(columns = numerical_cols_to_remove)
    
    impute_biba_games_df =  biba_games_df.fillna(0)
    
    #removing the previous columns in the input data
    cols_to_drop = list(df.loc[:, 'monthly_number_of_sessions': 'distance_to_nearest_bus_stop'].columns) +\
                    list(df.loc[:, 'historic_number_of_sessions' : 'historic_snow'].columns)
    
    
    full_data = full_data.drop(columns = cols_to_drop)
    
    #adding processed columns
    full_data = pd.concat([full_data, impute_biba_games_df], axis = 1)
    
    return full_data

In [7]:
# This implementation drops columns with survey answers

def preprocess_biba_no_survey(input_data):
    """
    Given the original dataframe, process the columns related to
    Biba Playground Games. 
    
    Parameters
    ----------
    input_data: pandas.core.frame.DataFrame
    
    Returns
    -------
    output_data: pandas.core.frame.DataFrame
    
    """
    # Concatenate relevant columns into a single dataframe 
    
    biba_df = pd.DataFrame()
    biba_df = pd.concat([input_data.loc[:, 'monthly_number_of_sessions':'distance_to_nearest_bus_stop'],
                         input_data.loc[:, 'historic_number_of_sessions':'historic_snow']], axis=1)
    
    
    # Extract categorical features
    categorical_features = biba_df.loc[:, biba_df.dtypes == "object"]
    
    # Identify categorical features and numerical features with high prop. of NaN values
    to_drop = categorical_features.columns.to_list()
    
    to_drop += ['historic_hour_0', 'historic_hour_23', 'historic_hour_22', 'historic_hour_21',
                'historic_hour_7','historic_hour_6','historic_hour_5','historic_hour_4', 
                'historic_hour_3','historic_hour_2','historic_hour_1', 'MonthYear']
    
    # Drop said columns
    biba_df = biba_df.drop(columns=to_drop)
    
    # Impute any remaining NaN values with 0
    biba_df = biba_df.fillna(0)
    
    # Remove the old, unprocessed colums in the input data 
    old_columns = input_data.loc[:, 'monthly_number_of_sessions':'distance_to_nearest_bus_stop'].columns.to_list() +\
                  input_data.loc[:, 'historic_number_of_sessions':'historic_snow'].columns.to_list()
    
    input_data = input_data.drop(old_columns)
    
    # Add preprocessed columns back
    
    output_data = pd.concat([input_data, biba_df], axis=1)
    
    return output_data

In [8]:
def preprocess_weather(input_data):
    """
    Given the original dataframe, preprocess the columns
    related to weather information (`Democrats_08_Votes` to
    the end + `climate`). Impute NaN of `Number_of_holidays` 
    by using the values the we have for the same month,
    impute NaN of `Green_2016` by using values found online, or 0, 
    and replace remaining NaN values with 0.
    
    Parameters
    ----------
    input_data : pandas.core.frame.DataFrame
    
    Returns
    -------
    output_data : pandas.core.frame.DataFrame
    
    """
    
    df_weather = input_data.loc[:, 'Democrats_08_Votes':]
    df_weather['state'] = input_data['state']
    df_weather['climate'] = input_data['climate']
    df_weather['external_id'] = input_data['external_id']
    df_weather['month'] = input_data['month']
    df_weather['year'] = input_data['year']
    
    
    #fill up NaNs for `Number_of_holidays` column
    #I sorted the values so that the values are ordered by time, and the NaNs are at the end of each time period
    df_weather = df_weather.sort_values(['month', 'year', 'Number_of_holidays'])
    df_weather['Number_of_holidays'] = df_weather['Number_of_holidays'].fillna(method='ffill')
    
    #fill up NaNs for the `Green_2016` column
    #I only found values for Alaska and North Carolina, so I just put 0 for the other states
    df_weather['Green_2016'] = np.where(
     df_weather['state'] == 'Alaska', 5735, 
         np.where(
            df_weather['state'] == 'North Carolina', 12105,  
             np.where(
                df_weather['Green_2016'].isnull(), 0, df_weather['Green_2016'] 
             )
         )
    )
    
    df_weather['climate'] = df_weather['climate'].fillna(df_weather['climate'].mode()[0])
    
    #Substitute every remaining NaNs by 0
    df_weather = df_weather.fillna(value=0)
    
    output_data = input_data.copy()
    output_data.loc[:, 'Democrats_08_Votes':] = df_weather.loc[:, 'Democrats_08_Votes':]
    output_data['climate'] = df_weather['climate']
    
    #Tests
    
    #Check that there are no missing values in the `Number_of_holidays` column
    if not output_data['Number_of_holidays'].isnull().sum() == 0:
        raise Error('There should not be NaNs in the Number_of_holidays column')
    
    #Check that every month has only one value for the `Number_of_holiday` column
    number_of_error = 0
    for month in range(12):
        for year in [2018, 2019]:
            sub_df = output_data[(output_data['month'] == month+1) & (output_data['year'] == year)]
            if len(sub_df['Number_of_holidays'].unique()) > 1:
                number_of_error += 1 
    if not number_of_error == 0:
        raise Error('Every month should have the same value for Number_of_holidays')
               
    return output_data

In [9]:
def preprocess_neighbour(input_data):
    """
    Given the original dataframe, preprocess the columns
    related to locale information (`city` to
    `houses_per_sq_km`). Drop columns with >30%
    NaN values and replace remaining NaN values with 0.
    Parameters
    ----------
    input_data : pandas.core.frame.DataFrame
    Returns
    -------
    output_data : pandas.core.frame.DataFrame
    """
    
    df_neighbour = input_data.loc[:, 'city':'houses_per_sq_km']
    df_neighbour.drop(columns=['climate'])
    missing = df_neighbour.isna()
    
    # Count number of missing values for each column
    num_missing = missing.sum().sort_values(ascending=False)
    
    # Calculate proportion of missing values for each column
    prop_missing = num_missing / df.shape[0]
    
    # Create a list of columns with >30% of values missing
    to_drop = prop_missing[prop_missing > 0.3].index.to_list()
    
    # Add `country` to the list since all playgrounds are in the U.S.
    # Add `city` and `county` since lat. and long. should take care of them
    to_drop.append('country')
    to_drop.append('city')
    to_drop.append('county')
    
    # Drop columns with names in list
    output_data = input_data.drop(to_drop, axis=1)
    
    # Fill in remaining NaN values in locale-related columns with 0
    to_impute = prop_missing[(0 < prop_missing) & (prop_missing <= 0.3)].index.to_list()
    to_impute.remove('city')
    to_impute.remove('county')
    output_data[to_impute] = output_data[to_impute].fillna(0)
    output_data['climate'] = input_data['climate']

    return output_data

In [10]:
data = preprocess_biba(df)
data = preprocess_weather(data)
data = preprocess_neighbour(data)

In [11]:
# Check shape of ouput data
data.head()

,external_id,month,year,B20004e10,B11016e1,B12001e12,B20004e11,B19125e1,B12001e13,B23008e22,...,monthly_allages,monthly_travel,monthly_accessible,monthly_Saturday,monthly_Thursday,monthly_Sunday,monthly_Tuesday,monthly_Friday,monthly_Wednesday,monthly_Monday
0,1900203,3,2019,51111,1868,688,0,78934,1342,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1900203,6,2018,51111,1868,688,0,78934,1342,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1900203,8,2018,51111,1868,688,0,78934,1342,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MR00101775,1,2019,45484,2613,980,30417,45578,1097,66,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MR00101775,8,2019,45484,2613,980,30417,45578,1097,66,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
def clean_categorical(input_data, to_drop=['income_class', 'density_class', 'climate']):
    """
    Given the original dataframe, uses One-Hot-Encoding to encode the categorical variables
    
    
    Parameters
    ----------
    input_data : pandas.core.frame.DataFrame
    to_drop : list
        The list of the categorical variables on which we want to apply OHE
    
    Returns
    -------
    output_data : pandas.core.frame.DataFrame
    
    """
    
    output_data = input_data.copy()

    #Apply One-Hot-Encoding to each one of the categorical variable
    for col in to_drop:
        ohe = OneHotEncoder(sparse=False, dtype=int)
        sub_df = pd.DataFrame(ohe.fit_transform(input_data[[col]]), columns=ohe.categories_[0])
        output_data = pd.concat((output_data, sub_df), axis=1)
    #Drop the columns for which we used OHE
    output_data.drop(columns = to_drop, inplace=True)
    
    return output_data

In [13]:
# Perform one-hot encoding on three columns:
data = clean_categorical(data)

In [14]:
# Check the shape of the dataframe after all pre-processing
data.head()

,external_id,month,year,B20004e10,B11016e1,B12001e12,B20004e11,B19125e1,B12001e13,B23008e22,...,monthly_Monday,HI,LI,MI,HD,LD,MD,A,C,D
0,1900203,3,2019,51111,1868,688,0,78934,1342,0,...,0.0,1,0,0,1,0,0,0,1,0
1,1900203,6,2018,51111,1868,688,0,78934,1342,0,...,0.0,1,0,0,1,0,0,0,1,0
2,1900203,8,2018,51111,1868,688,0,78934,1342,0,...,0.0,1,0,0,1,0,0,0,1,0
3,MR00101775,1,2019,45484,2613,980,30417,45578,1097,66,...,0.0,0,1,0,0,1,0,0,1,0
4,MR00101775,8,2019,45484,2613,980,30417,45578,1097,66,...,0.0,0,1,0,0,1,0,0,1,0

Create `X` and `y`:

In [15]:
X = data.drop('unacast_session_count', axis=1)
y = data.loc[:, 'unacast_session_count']

In [16]:
# For now, drop `external_id` and `state`
X = X.drop(['external_id', 'state'], axis=1)

In [17]:
# Check if there are missing values in X
X.isna().sum().sort_values(ascending=False)

days_since_first_sess    17800
D                            0
B12001e2                     0
B11005e9                     0
B13016e5                     0
                         ...
precip_mm_10_above           0
precip_mm_1_10               0
precip_mm_0_1                0
precip_mm_none               0
month                        0
Length: 818, dtype: int64

In [18]:
# For now, fill `days_since_first_sess` with 0
X['days_since_first_sess'] = X['days_since_first_sess'].fillna(0)

In [19]:
# Check if there are missing values in y
y.isna().sum()

0

No `NaN` values in `y` - that's good.

Split the data into training and validation sets:

In [20]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, 
                                                      test_size=0.2,
                                                      random_state=2020)

In [21]:
X_train.shape

(40096, 818)

In [22]:
X_valid.shape

(10024, 818)

Fit a `GradientBoostingRegressor` with default settings:

In [151]:
params = {'verbose': 1,
          'random_state': 2020}

In [152]:
gbr = GradientBoostingRegressor(**params)
gbr.fit(X_train, y_train)

      Iter       Train Loss   Remaining Time
         1      213669.2304            4.86m
         2      205282.8246            4.79m
         3      198390.9645            4.72m
         4      191658.6878            5.01m
         5      186589.0004            4.92m
         6      181186.5017            4.90m
         7      177208.5001            4.84m
         8      174242.0719            5.04m
         9      171638.3291            5.22m
        10      165022.6046            5.32m
        20      129466.3909            4.65m
        30       99860.7850            3.98m
        40       81710.4135            3.35m
        50       70320.0408            2.81m
        60       62436.7513            2.22m
        70       58201.8945            1.67m
        80       53252.5016            1.11m
        90       49244.3230           33.05s
       100       46957.9923            0.00s

In [170]:
# Calculate MSE
y_pred = gbr.predict(X_valid)
mean_squared_error(y_valid, y_pred)

370204.9588049915

In [153]:
# Calculate R^2 of the prediction
gbr.score(X_valid, y_valid)

0.27425744561888155

Create another `GradientBoostingRegressor` where `n_estimators` is doubled.

In [154]:
params_1000 = {'verbose': 1,
               'n_estimators': 1000,
               'random_state': 2020}

In [155]:
gbr_1000 = GradientBoostingRegressor(**params_1000)

t0 = time.time()
gbr_1000.fit(X_train, y_train)
t1 = time.time()
fit_time = t1 - t0

      Iter       Train Loss   Remaining Time
         1      213669.2304           48.80m
         2      205282.8246           47.63m
         3      198390.9645           47.96m
         4      191658.6878           49.80m
         5      186589.0004           53.81m
         6      181186.5017           53.67m
         7      177208.5001           53.37m
         8      174242.0719           53.11m
         9      171638.3291           52.80m
        10      165022.6046           52.90m
        20      129466.3909           50.69m
        30       99860.7850           51.99m
        40       81710.4135           51.96m
        50       70320.0408           51.28m
        60       62436.7513           53.76m
        70       58201.8945           53.96m
        80       53252.5016           52.57m
        90       49244.3230           50.99m
       100       46957.9923           49.76m
       200       33108.7092           43.56m
       300       26537.4012           37.29m
       400       22282.0518           32.59m
       500       19214.4100           26.89m
       600       16629.4686           21.27m
       700       14954.9852           15.76m
       800       13701.1824           10.43m
       900       12449.9097            5.17m
      1000       11590.5045            0.00s

In [171]:
# Calculate MSE
y_pred_1000 = gbr_1000.predict(X_valid)
mean_squared_error(y_valid, y_pred_1000)

364149.91425749223

In [162]:
# Calculate R^2 of the prediction
gbr_1000.score(X_valid, y_valid)

0.2861276364206973

Perform randomized search of optimal hyperparameters:

In [23]:
param_grid = {'min_samples_split': [2, 4, 6],
              'max_depth': [3, 5, 7, 9],
              'max_features': ['auto', 'sqrt']}

In [25]:
gbr_gs = GradientBoostingRegressor(n_estimators=1000, verbose=1, random_state=2020)

rscv = RandomizedSearchCV(gbr_gs, param_grid, n_iter=3, verbose=2, cv=3, n_jobs=1, random_state=2020)

search = rscv.fit(X_train, y_train)

Fitting 3 folds for each of 3 candidates, totalling 9 fits
[CV] min_samples_split=4, max_features=auto, max_depth=3 .............

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

      Iter       Train Loss   Remaining Time
         1      153317.5171           65.14m
         2      142882.3344           66.35m
         3      135685.8230           66.56m
         4      128130.1997           66.66m
         5      122470.8207           66.94m
         6      118451.6037           66.95m
         7      115259.8875           67.29m
         8      112609.5008           67.27m
         9      109552.1000           67.53m
        10      107623.1704           68.16m
        20       89430.5067           67.99m
        30       71334.1225           69.04m
        40       60044.3450           69.81m
        50       52779.6393           69.76m
        60       47767.4358           69.39m
        70       43246.5435           68.77m
        80       40850.4885           68.26m
        90       39042.1967           67.94m
       100       37326.2071           67.25m
       200       24353.1053           53.62m
       300       17797.7181           38.50m
       400       14449.5789           29.30m
       500       12265.7430           22.57m
       600       10449.3770           17.05m
       700        9320.8869           12.27m
       800        8350.0983            7.91m
       900        7601.7513            3.85m
      1000        6869.0822            0.00s
[CV]  min_samples_split=4, max_features=auto, max_depth=3, total=37.7min
[CV] min_samples_split=4, max_features=auto, max_depth=3 .............

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed: 37.7min remaining:    0.0s

      Iter       Train Loss   Remaining Time
         1      241967.4629           30.65m
         2      225379.2903           30.43m
         3      208913.0207           30.43m
         4      201653.9873           30.33m
         5      188521.9523           30.30m
         6      177523.3656           30.27m
         7      166659.6284           30.17m
         8      158616.3034           30.14m
         9      150653.1653           30.08m
        10      143361.2094           30.05m
        20      107967.1941           29.69m
        30       81686.2252           29.74m
        40       65468.1422           29.55m
        50       54354.3595           29.37m
        60       48476.4330           29.05m
        70       45189.1124           28.73m
        80       42161.0303           28.38m
        90       39027.2504           28.08m
       100       36137.7814           27.76m
       200       25283.7676           24.63m
       300       19759.4666           21.70m
       400       16222.4392           19.32m
       500       13572.0073           16.52m
       600       11969.1479           13.55m
       700       10306.1348           10.32m
       800        9152.2162            6.94m
       900        8301.7948            3.48m
      1000        7510.6889            0.00s
[CV]  min_samples_split=4, max_features=auto, max_depth=3, total=35.0min
[CV] min_samples_split=4, max_features=auto, max_depth=3 .............
      Iter       Train Loss   Remaining Time
         1      240221.6672           44.82m
         2      224642.3947           41.35m
         3      208393.6742           42.52m
         4      195086.3002           42.13m
         5      184528.7218           40.95m
         6      174314.2392           40.92m
         7      165901.3321           40.43m
         8      158411.5076           39.76m
         9      151906.4892           39.77m
        10      145844.8002           39.56m
        20      113127.1241           37.26m
        30       90269.7455           36.57m
        40       71186.1487           38.46m
        50       59605.9486           37.83m
        60       52526.2487           36.92m
        70       48008.5433           36.05m
        80       44975.7400           35.21m
        90       42358.3639           34.94m
       100       40096.6931           34.23m
       200       26770.2200           29.14m
       300       20641.3234           25.08m
       400       15950.1855           21.36m
       500       13158.8593           17.69m
       600       11330.2752           14.12m
       700        9777.5656           10.58m
       800        8645.2277            7.07m
       900        7781.1475            3.52m
      1000        7185.2461            0.00s
[CV]  min_samples_split=4, max_features=auto, max_depth=3, total=35.3min
[CV] min_samples_split=4, max_features=auto, max_depth=7 .............
      Iter       Train Loss   Remaining Time
         1      139955.9308           84.32m
         2      120636.6704           84.45m
         3      104240.9834           84.12m
         4       90661.3218           83.53m
         5       79268.6824           83.62m
         6       69584.5782           82.60m
         7       61991.0093           81.86m
         8       55675.0023           82.04m
         9       50182.8420           81.37m
        10       46064.5668           80.75m
        20       21958.1132           80.26m
        30       13884.9788           79.26m
        40        9628.0516           79.44m
        50        7428.5534           79.19m
        60        6069.7875           78.15m
        70        5313.4477           77.64m
        80        4534.8533           76.82m
        90        4101.8099           75.53m
       100        3717.4627           74.53m
       200        1781.1446           65.72m
       300        1113.2378           57.46m
       400         794.4664           49.43m
       500         585.5602           41.22m
       600         441.9735           33.44m
       700         333.2927           25.51m
       800         258.9561           17.14m
       900         203.2628            8.81m
      1000         158.7878            0.00s
[CV]  min_samples_split=4, max_features=auto, max_depth=7, total=88.6min
[CV] min_samples_split=4, max_features=auto, max_depth=7 .............
      Iter       Train Loss   Remaining Time
         1      221142.7151           85.23m
         2      188321.1186           86.27m
         3      161288.8493           85.65m
         4      137749.2520           85.74m
         5      118405.1042           87.19m
         6      102776.3310           86.48m
         7       90214.6173           85.99m
         8       79317.8171           85.58m
         9       69643.8235           85.49m
        10       62662.3745           85.34m
        20       26946.2717           86.15m
        30       15279.0365           86.73m
        40       10950.5773           85.72m
        50        8290.1032           84.94m
        60        6828.1246           83.82m
        70        5755.4320           82.85m
        80        4961.6475           81.68m
        90        4296.6196           81.21m
       100        3741.8642           80.14m
       200        1683.7851           71.29m
       300        1079.6167           62.00m
       400         761.8538           53.95m
       500         563.4655           45.14m
       600         429.0603           36.27m
       700         322.4795           27.36m
       800         247.1127           18.22m
       900         189.9890            8.93m
      1000         144.3119            0.00s
[CV]  min_samples_split=4, max_features=auto, max_depth=7, total=87.8min
[CV] min_samples_split=4, max_features=auto, max_depth=7 .............
      Iter       Train Loss   Remaining Time
         1      219337.4996           72.52m
         2      187813.4630           71.17m
         3      160560.0152           71.20m
         4      138910.8902           70.88m
         5      121151.1839           70.63m
         6      106756.6710           70.38m
         7       94685.5184           70.26m
         8       85830.1229           70.12m
         9       79068.4560           70.00m
        10       71525.6090           70.01m
        20       31330.0010           70.51m
        30       18771.5650           70.36m
        40       12221.6774           70.15m
        50        9320.1417           69.52m
        60        7638.0619           68.79m
        70        6463.8768           67.84m
        80        5568.1654           67.05m
        90        4848.7561           66.32m
       100        4254.0861           65.50m
       200        1987.4639           57.77m
       300        1264.6727           50.53m
       400         899.7452           43.38m
       500         660.8410           36.20m
       600         494.1790           29.01m
       700         371.9100           21.81m
       800         288.3596           14.56m
       900         221.3388            7.29m
      1000         174.6572            0.00s
[CV]  min_samples_split=4, max_features=auto, max_depth=7, total=73.0min
[CV] min_samples_split=2, max_features=sqrt, max_depth=7 .............
      Iter       Train Loss   Remaining Time
         1      147415.2818            2.46m
         2      138723.6092            2.50m
         3      128922.2113            2.49m
         4      119980.1320            2.49m
         5      107417.6587            2.47m
         6      100148.7136            2.47m
         7       93359.2805            2.46m
         8       87320.6982            2.44m
         9       78627.5706            2.43m
        10       72879.7611            2.42m
        20       43247.0196            2.42m
        30       27591.8990            2.44m
        40       19660.0309            2.45m
        50       15924.5838            2.42m
        60       12676.6009            2.40m
        70       10229.0150            2.37m
        80        8787.4725            2.35m
        90        7663.6492            2.32m
       100        6963.4093            2.29m
       200        3006.9501            2.05m

       300        1952.7888            1.80m
       400        1389.6867            1.54m
       500        1055.7018            1.29m
       600         842.7764            1.03m
       700         665.2847           46.73s
       800         535.4185           31.21s
       900         448.4783           15.64s
      1000         372.9179            0.00s
[CV]  min_samples_split=2, max_features=sqrt, max_depth=7, total= 2.6min
[CV] min_samples_split=2, max_features=sqrt, max_depth=7 .............
      Iter       Train Loss   Remaining Time
         1      231119.0006            2.55m
         2      206885.3001            2.52m
         3      186561.3483            2.49m
         4      162252.3419            2.50m
         5      141641.5785            2.48m
         6      126785.6327            2.48m
         7      113329.5210            2.46m
         8      101487.7961            2.46m
         9       89886.4764            2.46m
        10       80677.5757            2.45m
        20       44273.4174            2.44m
        30       27760.7878            2.44m
        40       19203.5563            2.43m
        50       15409.9478            2.41m
        60       12696.6497            2.39m
        70       10651.1273            2.36m
        80        8998.4862            2.34m
        90        7857.3781            2.31m
       100        6883.2789            2.28m
       200        2939.9834            2.04m
       300        1840.2047            1.79m
       400        1345.2018            1.54m
       500        1030.6132            1.29m
       600         812.9916            1.03m
       700         654.0344           46.70s
       800         535.2096           31.21s
       900         438.4678           15.64s
      1000         358.7933            0.00s
[CV]  min_samples_split=2, max_features=sqrt, max_depth=7, total= 2.6min
[CV] min_samples_split=2, max_features=sqrt, max_depth=7 .............
      Iter       Train Loss   Remaining Time
         1      231426.4103            2.43m
         2      204700.7992            2.48m
         3      182596.2553            2.47m
         4      162682.1391            2.49m
         5      145980.7143            2.48m
         6      128991.0876            2.48m
         7      112095.2661            2.46m
         8      103386.3814            2.46m
         9       92134.5792            2.45m
        10       86089.5504            2.45m
        20       42530.8964            2.44m
        30       26644.7065            2.45m
        40       18893.7696            2.45m
        50       15023.3580            2.42m
        60       12278.2040            2.40m
        70       10294.5594            2.37m
        80        9044.3196            2.34m
        90        7898.5929            2.31m
       100        6874.3283            2.29m
       200        3118.7809            2.05m
       300        1988.4015            1.80m
       400        1423.4316            1.54m
       500        1072.2048            1.29m
       600         831.9145            1.04m
       700         665.2816           46.69s
       800         539.9810           31.25s
       900         439.5051           15.66s
      1000         361.9735            0.00s
[CV]  min_samples_split=2, max_features=sqrt, max_depth=7, total= 2.6min

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed: 365.4min finished

      Iter       Train Loss   Remaining Time
         1      201432.3232            3.71m
         2      187698.6130            3.69m
         3      172924.2830            3.59m
         4      165930.4164            3.59m
         5      152832.8956            3.57m
         6      137973.6947            3.56m
         7      129007.9530            3.54m
         8      119984.4184            3.54m
         9      110339.4638            3.54m
        10      100848.2244            3.51m
        20       54586.3249            3.48m
        30       35933.6346            3.48m
        40       25765.4375            3.47m
        50       19896.6681            3.44m
        60       15900.4821            3.40m
        70       13601.7552            3.39m
        80       11404.3946            3.36m
        90       10302.6814            3.33m
       100        9233.4724            3.29m
       200        4295.5839            2.94m
       300        2765.3633            2.57m
       400        2028.5001            2.21m
       500        1602.7798            1.85m
       600        1308.7908            1.48m
       700        1064.1225            1.11m
       800         896.4873           44.64s
       900         767.9447           22.37s
      1000         651.2235            0.00s

In [31]:
# Print the most optimal hyperparameter settings
search.best_params_

{'min_samples_split': 2, 'max_features': 'sqrt', 'max_depth': 7}

In [32]:
# Print the evaluation of the hyperparameter candidates
result = search.cv_results_
pd.DataFrame(result)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_min_samples_split,param_max_features,param_max_depth,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,2159.919200,73.135515,1.049887,0.263267,4,auto,3,"{'min_samples_split': 4, 'max_features': 'auto...",0.161272,0.364089,0.055305,0.193555,0.128111,3
1,4987.493293,430.139624,1.645919,0.316282,4,auto,7,"{'min_samples_split': 4, 'max_features': 'auto...",0.190472,0.284677,0.402996,0.292715,0.086948,2
2,157.151442,0.092279,1.505860,0.004716,2,sqrt,7,"{'min_samples_split': 2, 'max_features': 'sqrt...",0.128976,0.545482,0.384348,0.352935,0.171483,1

In [35]:
# Call predict on the most optimal hyperparameter on the training set
# Calculate MSE
mean_squared_error(y_train, search.predict(X_train))

651.2234780126952

In [36]:
# Calculate R^2 of the prediction on the training set
search.score(X_train, y_train)

0.9971445104080854

In [37]:
# Call predict on the most optimal hyperparameter on the validation set
# Calculate MSE
mean_squared_error(y_valid, search.predict(X_valid))

394161.808067091

In [39]:
# Calculate R^2 of the prediction on the validation set
search.score(X_valid, y_valid)

0.2272929072871356

Try removing the playgrounds with over 100,000 lifetime sessions.

References:
- https://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_regression.html
- https://www.analyticsvidhya.com/blog/2016/02/complete-guide-parameter-tuning-gradient-boosting-gbm-python/
- http://www.chengli.io/tutorials/gradient_boosting.pdf