In [2]:
import pandas as pd

In [6]:
#Read the data and split between train and test set
data = pd.read_csv('../data/playground_stats.zip')
test_data = data[(data['year']==2019) & (data['month'] > 9)]
train_data = data[~data.index.isin(test_data.index)]
train_data.shape[0] + test_data.shape[0] == data.shape[0]

#Save the files
compression_opts = dict(method='zip', archive_name='out.csv')
test_data.to_csv("../data/test_data.zip", index = False, compression=compression_opts)
train_data.to_csv("../data/train_data.zip", index = False, compression=compression_opts)

In [7]:
test = pd.read_csv('../data/test_data.zip')
test.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,avg_wind_9_10,avg_wind_10_11,avg_wind_11_12,avg_wind_12_above,perfect_days,unacast_session_count,hpi,state_and_local_amount_per_capita,state_amount_per_capita,local_amount_per_capita
0,MR00101775,12,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,42.0,110.38,0.076247,0.011966,0.064281
1,FM00174819,11,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,267.0,360.17,0.164303,0.012953,0.151351
2,FM00170822,12,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,4.0,167.34,0.243875,0.005994,0.237881
3,FM00170822,11,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,3.0,167.34,0.243875,0.005994,0.237881
4,MR00112928,10,2019,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,166.13,0.243875,0.005994,0.237881

In [8]:
test.shape

(7518, 861)